@CHARSET "ISO-8859-1";

.occupation_table { 
	table-layout:fixed; 
	width:100%; 
	border:1px solid; border-collapse: separate; border-spacing:10px; 
	text-align:center;
}

.type0 { background-color: #dddddd;}
.type1 { background-color: #fff096; }
.type2 { background-color: #d5d5f5; }
.type3 { background-color: #d0f0d0; }
.type4 { background-color: #c9e9e9; }

.type0_weekend { background-color: #c9c9c9;}
.type1_weekend { background-color: #f5d68b; }
.type2_weekend { background-color: #b9b9c9; }
.type3_weekend { background-color: #bacaba; }
.type4_weekend { background-color: #b0d0d0; }


@media(max-width: 500px) {
	.days1 {
		display:none;
	}
}

@media(max-width: 765px) {
	.days2 {
		display:none;
	}
}

@media(max-width: 980px) {
	.days3 {
		display:none;
	}
}

@media(max-width: 980px) {
	.days4 {
		display:none;
	}
}
@media(max-width: 1200px) {
	.days5 {
		display:none;
	}
}

@media(max-width: 1200px){
	.days6 {
		display:none;
	}
}


 