table.reservations {
	border-collapse: separate; border-spacing:20px;
}

@media(max-width:  765px) {	
	.reservations th:nth-child(2) { 
		display:none; 
	}
	.reservations td:nth-child(2) {
			display:none; 
	}
	.reservations th:nth-child(5) {
			display:none; 
	}
	.reservations td:nth-child(5) { 
		display:none; 
	}
}
